@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);
body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #818488;
    background-color: #F0EEE9;
}
.header-container {
    margin: 0.5em;
    padding: 0;
}
.header-container h1 {
    color: #1F1815;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.header-container p {
    margin: 0;
}
.header-container a {
    color: #1F1815;
}
.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    -ms-align-items: space-around;
    align-items: space-around;
}
.instagram-media {
    background-color: #FEFEFE;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
    padding: 0.5em;
    margin: 0.5em 0;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
@media all and (min-width: 40em) {
    .instagram-media {
        width: 50%;
    }
}
@media all and (min-width: 60em) {
    .instagram-media {
        width: 30%;
    }
}
.instagram-media img {
    width: 100%;
    height: auto;
    flex: 1 0 auto;
    margin: 0.5em 0;
}
.instagram-media a, .instagram-media a:visited {
    text-decoration: none;
    color: #4090db;
}
.instagram-media a:hover {
    color: #20486d;
}
.instagram-media i {
    margin-right: 0.5em;
}
.instagram-media p {
    margin: 0;
}
.instagram-media, .location i {
    color: #a5a7aa;
}
.location {
    display: flex;
    justify-content: space-between;
}
