@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);
$base-spacing: 0.5em;
$white: #FEFEFE;
$primary-color: #00ADB5;
$secondary-color: #222831;
body {
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: $white;
  background-color: $secondary-color;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $primary-color;
}
.header-container {
  margin: $base-spacing;
  padding: 0;
  display: flex;
  flex-flow: row;
  h1 {
    color: $primary-color;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
}
.nav {
  max-height: 0;
  transition: max-height 0.9s;
  overflow: hidden;
  &--open {
    max-height: 4000px;
    transition: max-height 0.9s;
  }
  &__trigger {
    width: auto;
    font-size: 1.5em;
    border: 0;
    background: none;
  }
  &__items {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  &__item {
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
    line-height: 2em;
    border-bottom: 0.1em solid rgba($primary-color, 0.5);
    background: $white;
    a {
      padding: 0 $base-spacing;
      display: block;
      background: $secondary-color;
      height: 100%;
      &:active,
      &:focus,
      &:hover {
        background: rgba($secondary-color, 0.9);
      }
    }
  }
}
.main-container {
  &__lead {
    flex-basis: 100%;
    margin: $base-spacing;
  }
  a {
    color: #4090db;
    &:hover {
      color: #20486d;
    }
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  -ms-align-items: space-around;
  align-items: space-around;
}
.instagram-media {
  background-color: $white;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(57, 62, 70, 0.5), 0 1px 10px 0 rgba(57, 62, 70, 0.15);
  padding: $base-spacing;
  margin: $base-spacing 0;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  @media all and (min-width: 40em) {
    width: 50%;
  }
  @media all and (min-width: 60em) {
    width: 30%;
  }
  img {
    width: 100%;
    height: auto;
    flex: 1 0 auto;
    margin: $base-spacing 0;
  }
  i {
    margin-right: $base-spacing;
  }
  p {
    margin: 0;
  }
}
.instagram-media,
.location i {
  color: $secondary-color;
}
.location {
  display: flex;
  justify-content: space-between;
}
